body {
    margin: 0px;
    font-family: 'Minecraft', sans-serif;
    image-rendering: pixelated;
}
/* yellow FFD316 */

@font-face {
    font-family: 'Minecraft';
    src: url("../fonts/1_Minecraft-Regular.otf") format("truetype");
}



.nav-container {
    position: sticky;   /* makes it stick within its parent */
    top: 0;             /* stick to the very top */
    z-index: 1000;      /* keep it above other content */
    background-color: #FFD316; /* keep background so content doesn't show through */
    height: 100%;
    background-color: #FFD316;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.537);
}

.image-link {
    padding: 10px;
    background-color: #dbdbdb00;
}

.image-link img {
    height: 60px;
    transition: height 0.2s ease;
}

.image-link:hover {
    background-color: #dbdbdb00;
    outline: 0;
    
}
.image-link:hover img {
    height: 80px;
    
}

nav {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  font-size: xx-large;
  text-decoration: none;
  margin: 20px;
  padding: 10px 16px;
  background-color: #fff;
  border-radius: 10px;
  color: #000;
}

nav a:hover {
    outline: solid 5px #000;
    background-color: #dbdbdb;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 20px;
}

.dropbtn {
  background-color: #fff;
  color: #000;
  font-size: xx-large;
  font-family: 'Minecraft', sans-serif;
  border: none;
  border-radius: 10px;
  padding: 10px 16px;
  cursor: pointer;
}

.dropdown:hover .dropbtn {
    
  outline: solid 5px #000;
    background-color: #dbdbdb;
}

.dropdown-content {
  padding: 10px;
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  /* background-color: #01fc12a2; */
  min-width: 230px;
  /* box-shadow: 0px 8px 16px rgba(0,0,0,0.2); */
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  margin: 10px;
  color: #000;
  text-decoration: none;
  display: block;
  padding: 12px 16px;   
}

.dropdown-content a:hover {
  outline: solid 5px #000;
    background-color: #dbdbdb;
}



.under-nav-image {
    background-image: url("../img/mcBackround1.png");
    height: 500px;                 /* controls section height */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.537);




}
